* {
    overflow-x: hidden;
    background-color: #FAF6F0;
}

:root {
    --bg-color: #FCF5ED;
    --buttons-color: #F4BF96;
    --text-color: #000000;
}


body {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Jost, sans-serif;
    font-weight: 700;
}

p {
    font-family: Jost, sans-serif;
    font-weight: 400;
    margin: auto;
}


.logo {
    display: flex;
    flex-direction: column;
}

.logo-name {
    font-size: 2.5rem;
    font-family: jost, sans-serif;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
}

.logo-sub {
    font-size: 1.5rem;
    font-family: jost, sans-serif;
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 2%;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem;
    font-family: Jost, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.navbar-links li:hover {
    cursor: pointer;
    color: var(--buttons-color);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 10px;
}

#contact-me {
    background-color: var(--buttons-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
}

#contact-me:hover {
    background-color: var(--text-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
}

#image-container {
    column-count: 4;
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.wimg {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    justify-content: center;
    align-items: center;
}

.wdescript {
    padding: 5%;
}

.work-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ABOUT  */

.about-left,
.about-right, 
.about-third {
    margin: 2%;
}

.about-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2.5rem; */
    column-count: 3;
    margin: 0 10rem ;
}

.publications {
    display: flex;
    flex-direction: column;
}

.pub-img {
    column-count: 3;
}

/* STARS */
@keyframes star {
    to {
      zoom:10%;
      opacity:0;
    }
    from{
      zoom:100%;
        opacity:1;
    }
  }
  .star {
    position: absolute;
  animation-name: star;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
  
  }
  @keyframes star1 {
    to {
   
      opacity:0;
    }
    from{
   
        opacity:1;
    }
  }
  .star1 {
  animation-name: star1;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
  }
  @keyframes star2 {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  
  }
  .star2 {
  animation-name: star2;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  }

/* MY-LINKS */

.custom-button {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--buttons-color);
    color: var(--text-color);
    cursor: pointer;
    margin: 10px;
}

.button-text {
    background-color: transparent;
}

.custom-button:hover {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    margin: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-icon {
    width: 30px;
    height: auto;
    border-radius: 100px;
    margin-right: 10px;
}

.custom-button {
    flex: 1;
    font-family: kanit, sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.links-avatar {
    border-radius: 100%;
    max-width: 20%;

}


.about-content {
    display: flex;
    flex-wrap: wrap;
}

.v-badge {
    display: flex;
    padding: 8px 16px;
    color: var(--text-color);
    font-family: kanit, sans-serif;
    font-weight: 400;
    background: var(--buttons-color);
    user-select: none;
    margin: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


@media (max-width: 800px) {

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.3rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        padding: 2%;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    #image-container {
        column-count: 2;
        margin: 20px auto;
        padding: 2%;
        align-items: center;
    }
    
    .wimg {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .work-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-right, .about-right, .about-third, .publications,
    .params-container {
        margin: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .pub-img {
        column-count: 2;
    }

    #avatar {
        max-width: 100%;
        object-fit: cover;
    }

#layer_1 {
    display: none;
}

   

}